# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
chipo = pd.read_csv('Chipotle.tsv',sep='\t')

### Step 4. See the first 10 entries

In [34]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [35]:
# Solution 1
chipo.shape[0]

4622

In [36]:
# Solution 2
chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [37]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [39]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [40]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [56]:
# Solution 1
item_quants = chipo.groupby("item_name").quantity.agg("sum")
item_quants.sort_values(ascending=False)[:5]

item_name
Chicken Bowl           761
Chicken Burrito        591
Chips and Guacamole    506
Steak Burrito          386
Canned Soft Drink      351
Name: quantity, dtype: int64

In [6]:
# Solution 2
item_quants2 = chipo.groupby("item_name").agg({"quantity":"sum"})
item_quants2.sort_values("quantity", ascending=False)[:5]

                     quantity
item_name
Chicken Bowl              761
Chicken Burrito           591
Chips and Guacamole       506
Steak Burrito             386
Canned Soft Drink         351

In [95]:
# Solution 3
item_quants3 = chipo.groupby('item_name').sum()
item_quants3 = item_quants3.sort_values(['quantity'], ascending=False)[:5]
item_quants3

                     order_id  quantity  item_price
item_name
Chicken Bowl           713926       761     7342.73
Chicken Burrito        497303       591     5575.82
Chips and Guacamole    449959       506     2201.04
Steak Burrito          328437       386     3851.43
Canned Soft Drink      304753       351      438.75

### Step 10. For the most-ordered item, how many items were ordered?

In [ ]:
# Done

### Step 11. What was the most ordered item in the choice_description column?

In [58]:
choice_quants = chipo.groupby("choice_description").agg({"quantity":"sum"})
choice_quants.sort_values("quantity", ascending=False)[:5]

                                                    quantity
choice_description
[Diet Coke]                                              159
[Coke]                                                   143
[Sprite]                                                  89
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        49
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese...        42

### Step 12. How many items were orderd in total?

In [60]:
chipo["quantity"].sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [66]:
chipo.dtypes

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object

#### Step 13.b. Create a lambda function and change the type of item price

In [80]:
chipo.item_price = chipo.item_price.apply(lambda x: float(x[1:]))

#### Step 13.c. Check the item price type

In [82]:
chipo.item_price.dtype

dtype('float64')

In [89]:
# Solution 2
chipo["item_price"] = chipo.item_price.str.slice(start=1).astype(float)
chipo.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

### Step 14. How much was the revenue for the period in the dataset?

In [98]:
revenue = sum(chipo["item_price"]*chipo["quantity"])
revenue

39237.020000000055

### Step 15. How many orders were made in the period?

In [99]:
orders = len(chipo.order_id.unique())
orders

1834

### Step 16. What is the average revenue amount per order?

In [100]:
# Solution 1
revenue/orders

21.3942311886587

In [105]:
# Solution 2
chipo['revenue'] = chipo['quantity'] * chipo['item_price']
chipo.groupby(by=['order_id']).sum().mean()

quantity       2.711014
item_price    18.811429
revenue       21.394231
dtype: float64

### Step 17. How many different items are sold?

In [106]:
len(chipo.item_name.unique())

50